.mat-card
{

  margin: 10px 10px;
  padding: 20px;
  border-color: gray;
  background-repeat: no-repeat;
  background-size: 100%;
}
.mat-card#first-card 
{
  padding: 0;
  border: 0.5px solid gray;
}

.logo
{
  display: flex;
}  

.banner
{
  border-radius: 20px;
  height: 300px;
  margin-top: 0px;
  display: flex;
  z-index: 1;
}

.icon-bar {
  float: right;
  margin-right: 10px;
  color: black;

}

.profile-background img
{
  width: 100%;
  border-radius: 32px 32px;
}

.profile-image
{
  border-radius: 50%;
  width: 153px;
  height: 152px;
  margin-top: -110px;
  z-index: 1;
}

.botones
{
  display: flex;
  margin-top: 10px;
}
.btn-right{
  float:right;
  color: black;
  margin-top: -40px;
}
