.mat-card
{
  border-radius: 32px;
  margin: 10px 10px;
  padding: 20px;
  border-color: gray;
  background-repeat: no-repeat;
  background-size: 100%;
}
.mat-card#first-card 
{
  padding: 0;
  border: 1px solid gray;
}

.logo
{
  display: flex;
}  

.menu
{
    display: flex;
    list-style: none;
}

.banner
{
  border-radius: 20px;
  height: 300px;
  margin-top: 0px;
  display: flex;
  z-index: 1;
}

.profile-background img
{
  width: 100%;
  border-radius: 32px 32px;
}

.profile-image
{
  border-radius: 50%;
  width: 153px;
  height: 152px;
  margin-top: -110px;
  z-index: 1;
}

.botones
{
  display: flex;
  float: right;
  margin-top: 65px;
}